<div class="container mt-4"> 
  <h1>Admin Dashboard</h1>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card text-white bg-primary mb-3"> 
        <div class="card-header">Products</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to "#{@product_count} Products", admin_products_path, class: "text-white text-decoration-none" %></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to "#{@category_count} Categories", admin_products_path, class: "text-white text-decoration-none" %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
